extends ../layout

block content
  div(class="barf-details jsBarfDetails")
    div(class="row")

      include ../includes/left-col.pug
    
      div(class="main col-xs-12 col-md-9 order-1 order-md-2")
        p #{model.text}
        
        footer
          div.author.blockquote-footer
            small(class="text-muted") 
              if(model.picture) 
                img(src=model.picture, title=model.userName, alt=model.userName)
              a(href="/users/" + model.userName) @#{model.userName}
              span on #{new Date(model.creationDate).toLocaleDateString() }