extends ../layout

block content
  div(class="barf-details jsBarfDetails")
    div(class="row")

      include ../includes/left-col.pug

      div(class="main col-xs-12 col-md-9 order-1 order-md-2")
        div(class="card barf")
          blockquote(class="blockquote mb-0 card-body row")
            .col-2.author
              if(model.picture)
                img(src=model.picture, title=model.userName, alt=model.userName)
              a(href="/users/" + model.userName) @#{model.userName}
            .col
              p!=model.text
              footer(class="blockquote-footer")
                small(class="text-muted") 
                  span(class="timeago" datetime=model.creationDate / 1000)