if !barfs.totalCount
    h3 no barfs yet, follow somebody!
else
  div(class="card-columns barfs-archive")
    each item in barfs.items
        div(class="card barf")
          blockquote(class="blockquote mb-0 card-body row")
            .col-2.author
              if(item.picture)
                img(src=item.picture, title=item.userName, alt=item.userName)
              a(href="/users/" + item.userName) @#{item.userName}
            .col
              p #{item.text}
              footer(class="blockquote-footer")
                small(class="text-muted") 
                  span(class="timeago" datetime=item.creationDate / 1000)
                  a(href="/barfs/" + item.id)  open 