if !barfs.totalCount
    h3 no barfs yet, follow somebody!
else
  div(class="card-columns barfs-archive")
    each item in barfs.items
        div(class="card barf")
          blockquote(class="blockquote mb-0 card-body")
            p #{item.text}
            a(href="/barf/" + item.id) view
            footer(class="blockquote-footer")
              small(class="text-muted") 
                if(item.picture) 
                  img(src=item.picture, title=item.userName, alt=item.userName)
                span #{item.userName}