h4 Top Users
ul(class="list-group")
  each item in topUsers
      li(class="list-group-item")
        p
          img(src=item.picture, title=item.name, alt=item.name, style="width:50px")
          span  #{item.name} barfed #{item.barfsCount} times
        p 
          span @#{item.nickname}
          if user
            button(class="btn btn-success btn-sm jsFollow", data-id=item.userId) Follow
          