h4 Top Barfers
ul(class="list-group top-users")
  each item in topUsers
      li(class="list-group-item")
        .row
          .col-xs-2.thumb
            img(src=item.picture, title=item.nickname, alt=item.nickname)
          .info.col
            p 
              a(href="/users/" + item.nickname, title=item.nickname) @#{item.nickname} 
          if user 
            .col-xs-2
              button(class="btn btn-success btn-sm jsFollow", data-id=item.userId, data-followed=item.followed ? 'true' : 'false') Follow
        .row
          p barfed #{item.barfsCount} times
        //- div(class="thumb")
        //-   img(src=item.picture, title=item.nickname, alt=item.nickname)
        //- div(class="info")
        //-   p 
        //-     a(href="/users/" + item.nickname, title=item.nickname) @#{item.nickname} 
        //-   p barfed #{item.barfsCount} times
        //-   if user
        //-     p 
        //-       button(class="btn btn-success btn-sm jsFollow", data-id=item.userId, data-followed=item.followed ? 'true' : 'false') Follow
          
          